:root {
  --green: #006a4e;
  --orange: #fb6801;
  --primary1: #4caf50;
  --primary2: #f1f5ff;
  --bg1: #fdd670;
  --bg2: #ecc766;
  --bg3: #ffb142;
  --bg4: #e84118;
  --bg5: #bd9322;
  --bg7: #d55f5f;
  --bg8: #e4e0e1;
  --bg9: hsla(0, 3.1%, 81%, 0.12156862745098039);
  --bg10: #2ecc71;
  --bg11: #eaeaea;
  --fresh: #44bd32;
  --regular: #0097e6;
  --preorder: #8c7ae6;
  --clr1: #484f50;
  --white: #fff;
  --color1: #444;
  --color2: #ccc;
  --color3: #605e58;
  --color4: #1a1a1a;
  --color5: #888;
  --color6: #01126c;
  --border1: #ebebeb;
  --border2: rgba(195, 193, 193, 0.6);
  --border3: #d0cfcf;
  --border4: #fef3d5;
  --border5: rgba(218, 215, 215, 0.38823529411764707);
  --border6: #fafbfc;
  --color7: #615e58;
  --overLayColor: rgba(0, 0, 0, 0.4);
  --cartPageShadow: -2px 0 12px 0 rgb(143 143 143/38%);
  --shadow2: 0 2px 2px 2px #ccc;
  --fontSizeXs: 12px;
  --fontSizeS: 13px;
  --fontSizeM: 14px;
  --fontSizeL: 15px;
  --fontSize16: 16px;
  --fontSize18: 18px;
  --fontSize17: 17px;
  --fontSize45: 45px;
  --m10: 10px;
  --m20: 20px;
  --padding20: 20px;
  --padding10: 10px;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background-color: #fcfcfc;
  overflow-x: hidden;
  font-size: 14px;
  font-weight: 300;
}

a {
  text-decoration: none;
}

/* Header Section */

.headerArea {
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  padding-left: 26px;
  background: var(--white);
  border-bottom: 3px solid var(--green);
  position: fixed;
  z-index: 9999;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}
.headerArea::after {
  content: "";
  display: block;
  clear: both;
}
.headerInner {
  display: flex;
  justify-content: space-between;
  width: 100%;
  align-items: center;
  height: 55px;
}

.headerLeftCol {
  width: 248px;
  display: flex;
  align-items: center;
}

.headerLeftCol .headerLogo {
  height: 55px;
  display: flex;
  align-items: center;
  justify-content: center;
  overflow: hidden;
}

.headerLeftCol .headerLogo img {
  width: 127px;
  /* height: 60.5px; */
  /* -webkit-object-fit: cover; */
  /* object-fit: cover; */
  cursor: pointer;
}

.headerRightCol {
  width: 2594px;
  display: flex;
  align-items: center;
  height: 55px;
  justify-content: flex-end;
}
.headerRightCol .searchArea {
  position: relative;
  cursor: pointer;
  height: 40px;
  display: flex;
  align-items: center;
  float: right;
  border-radius: 3px;
  padding: 0 13px;
  text-align: center;
  margin-right: 20px;
}

.headerRightCol .searchArea img {
  width: 30px;
  height: 30px;
}

.headerRightCol .headerCityCol {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  height: 55px;
  width: auto;
  padding: 0 10px;
  cursor: pointer;
  transition: all 0.1s linear;
}

.headerRightCol .headerCityCol .fa-map-marker-alt {
  width: 15px;
  height: 15px;
  color: var(--green);
}

.headerRightCol .headerCityCol .cityText {
  font-weight: 600;
  font-size: var(--fontSizeM);
  color: var(--green);
  margin-top: 3px;
  margin-left: 6px;
}

.headerCityCol a {
  font-size: 20px;
}
.headerRightCol .headerLanguageSettingsCol {
  height: 55px;
  width: 150px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0 10px;
  transition: all 0.1s linear;
  cursor: pointer;
}
.headerRightCol .headerLanguageSettingsCol a {
  font-size: 20px;
}
.headerRightCol .headerLanguageSettingsCol .fa-user {
  width: 15px;
  height: 15px;
  color: var(--green);
}
.headerRightCol .headerLanguageSettingsCol .signInTextForHeader {
  font-size: var(--fontSizeM);
  font-weight: 600;
  color: var(--green);
  margin: 3px 0 0 8px;
}

.headerRightCol .header__cart__icon__col {
  width: 85px;
  display: block;
}

.headerRightCol .header__cart__icon__col .cartLogo {
  width: 70px;
}
.headerRightCol .header__cart__icon__col .cartLogo img {
  width: 41px;
  /* height: 54px; */
}

.headerRightCol .headerSignInCol {
  height: 85px;
  width: 126px;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: all 0.1s linear;
  cursor: pointer;
  background: var(--green);
  position: relative;
}
.headerRightCol .headerSignInCol .header__right__cart__info {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: relative;
}
.headerRightCol .headerSignInCol .header__right__cart__info .tag__arrow {
  position: absolute;
  width: 30px;
  left: -20px;
  top: 50%;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  padding-top: 8px;
  z-index: 9999;
}
.headerRightCol .headerSignInCol .header__right__cart__info .tag__arrow img {
  width: 30px;
}

.headerRightCol
  .headerSignInCol
  .header__right__cart__info
  .border__bottom__under__list {
  position: relative;
  width: 100%;
  margin-bottom: 2px;
  padding-bottom: 6px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.headerRightCol
  .headerSignInCol
  .header__right__cart__info
  .border__bottom__under__list
  img {
  width: 25px;
  /* height: 28px; */
}
.headerRightCol
  .headerSignInCol
  .header__right__cart__info
  .border__bottom__under__list::after {
  content: "";
  position: absolute;
  left: 50%;
  bottom: 0;
  height: 1.25px;
  width: calc(100% - 20px);
  background-color: hsla(0, 0%, 100%, 0.47843137254901963);
  -webkit-transform: translateX(-50%);
  transform: translateX(-50%);
}

.headerRightCol
  .headerSignInCol
  .header__right__cart__info
  .right__cart__info__style {
  font-size: 16px;
  font-weight: 600;
  color: #fff;
}
.headerRightCol
  .headerSignInCol
  .header__right__cart__info
  .right__cart__info__style
  .right__cart__info__icon {
  font-size: 13px;
  font-weight: 400;
  display: inline-block;
}

/* Main Area */

.rightSidebar {
  width: 100%;
  position: relative;
}

@media (min-width: 768px) {
  .rightSidebar {
    width: calc(100% - 270px);
    margin-left: 270px;
  }
}

/* Main Area Left Side */

.mainContentArea .leftSideBar {
  width: 270px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  position: fixed;
  left: 0;
  top: 70px;
  height: calc(100vh - 60px);
  background: var(--white);
  overflow: auto;
  z-index: 9;
  /* display: none; */
}

@media (min-width: 768px) {
  .mainContentArea .leftSideBar {
    left: 0;
    padding-top: 12px;
    display: block;
    box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
    border-right: 1px solid rgba(119, 108, 108, 0.30980392156862746);
  }
}

/* Main Area Left Side Top */

.mainContentArea .leftSideBar .leftSideBarTopNav {
  border-bottom: 1px solid hsla(0, 0%, 50.2%, 0.21176470588235294);
  margin-top: 0;
  padding: 0 20px;
}
ul {
  list-style: none;
}

.mainContentArea .leftSideBar .leftSideBarTopNav .leftSideBarTopNavItem {
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  justify-content: center;
}
.mainContentArea .leftSideBar .leftSideBarTopNav .leftSideBarTopNavItem:hover {
  padding-left: 12px;
}
.mainContentArea
  .leftSideBar
  .leftSideBarTopNav
  .leftSideBarTopNavItem
  .leftSideBarTopNavItemLink {
  font-size: 15px;
  color: var(--green);
  font-weight: 700;
  padding: 10px;
}

.mainContentArea
  .leftSideBar
  .leftSideBarTopNav
  .leftSideBarTopNavItem
  .leftSideBarTopNavItemLink
  .categoryImageIcon {
  width: 30px;
  position: absolute;
  margin-top: -3px;
}
.mainContentArea
  .leftSideBar
  .leftSideBarTopNav
  .leftSideBarTopNavItem
  .leftSideBarTopNavItemLink
  .marginLeft {
  margin-left: 44px;
  /* font-size: 18px; */
}

/* Main Area Left Side Bar Bottom */

.leftSideBarTop .leftSideBarTopNav {
  border-bottom: 1px solid hsla(0, 0%, 50.2%, 0.21176470588235294);
  margin-top: 0;
  padding: 0 20px;
}

.leftSideBarTop .explore__bg {
  background: rgba(128, 128, 128, 0.09);
}

.leftSideBarTop .leftSideBarTopNav .leftSideBarTopNavItem {
  margin-bottom: 2px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  justify-content: center;
}

.leftSideBarTop
  .leftSideBarTopNav
  .leftSideBarTopNavItem
  .leftSideBarTopNavItemLink {
  font-size: 15px;
  color: var(--green);
  font-weight: 700;
  padding: 10px;
}

.leftSideBarTop
  .leftSideBarTopNav
  .leftSideBarTopNavItem
  .leftSideBarTopNavItemLink
  .explore__text {
  color: grey;
  display: inline-block;
  margin-right: 3px;
  /* font-size: 18px; */
}
.leftSideBarTop
  .leftSideBarTopNav
  .leftSideBarTopNavItem
  .leftSideBarTopNavItemLink
  .shodai__text {
  color: var(--green);
  display: inline-block;
  /* font-size: 18px; */
}
.leftSideBarTop
  .leftSideBarTopNav
  .leftSideBarTopNavItem
  .leftSideBarTopNavItemLink
  .mama__text {
  color: var(--orange);
  display: inline-block;
  /* font-size: 18px; */
}

/* Main Area Left Side Bar Bottom Items */

.leftSidebarBottom {
  padding-top: 8px;
  padding-left: var(--padding20);
  padding-right: var(--padding20);
}

.leftSidebarBottom .leftSideBarNavItem {
  margin-bottom: 8px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  justify-content: center;
}
.leftSidebarBottom .leftSideBarNavItem:hover {
  padding-left: 12px;
}
.leftSidebarBottom .leftSideBarNavItem a {
  font-size: 15px;
  color: var(--green);
  font-weight: 700;
  padding: 10px;
}
/* .categoryMainArea {
  padding: 10px;
} */

.leftSidebarBottom .leftSideBarNavItem .categoryImageIcon {
  width: 30px;
  position: absolute;
  margin-top: -3px;
}
.leftSidebarBottom .leftSideBarNavItem span {
  margin-left: 44px;
  /* font-size: 18px; */
}

/* Home Area */

/* Home Area Top */

.homeArea .global_category_tab_btn_area {
  height: 76px;
  width: calc(100% - 270px);
  right: 0;
  position: fixed;
  top: 70px;
  z-index: 9998;
  background: #fff;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}
@media (min-width: 768px) {
  .global_category_tab_btn_area {
    display: block;
  }
}

.homeArea .global_category_tab_btn_area .global_category_tab_btn_wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 84px;
}
.homeArea
  .global_category_tab_btn_area
  .global_category_tab_btn_wrapper
  .single_global_catergory_btn {
  width: 33.33%;
  border-right: 1px solid #c7c3c3;
}
.homeArea
  .global_category_tab_btn_area
  .global_category_tab_btn_wrapper
  .single_global_catergory_btn
  .globalBtn_link {
  font-size: 16px;
  font-weight: 600;
  color: #313131;
  line-height: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 100%;
  transition: 0.9s;
}
.homeArea
  .global_category_tab_btn_area
  .global_category_tab_btn_wrapper
  .single_global_catergory_btn
  .globalBtn_link:hover {
  padding-left: 25px;
  transition: 0.9s;
}

/* Home Banner Area */

.homeContentArea {
  padding-top: 50px;
  /* margin-left: 66px; */
}
.homeContentArea .bannerArea {
  width: 100%;
  padding-bottom: 60px;
  margin-top: 127px;
  /* display: none; */
}
@media (min-width: 768px) {
  .homeContentArea .bannerArea {
    display: block;
  }
}
.homeContentArea .bannerArea .container {
  max-width: 1240px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
}
.homeContentArea .bannerArea .container .carousel-root {
  outline: none;
}
.homeContentArea .bannerArea .container .carousel-root .carousel {
  width: 100%;
  display: flex;
  justify-content: center;
}
.homeContentArea
  .bannerArea
  .container
  .carousel-root
  .carousel
  .carousel-slider {
  position: relative;
  margin: 0;
  overflow: hidden;
}
.homeContentArea
  .bannerArea
  .container
  .carousel-root
  .carousel
  .slider-wrapper {
  overflow: hidden;
  margin: auto;
  width: 100%;
  transition: height 0.15s ease-in;
}
.homeContentArea
  .bannerArea
  .container
  .carousel-root
  .carousel
  .slider-wrapper
  .slider {
  display: flex;
  margin: 0;
  padding: 0;
  position: relative;
  list-style: none;
  width: 100%;
}
.homeContentArea
  .bannerArea
  .container
  .carousel-root
  .carousel
  .slider-wrapper
  .slider.animated {
  transition: all 0.35s ease-in-out;
}

.homeContentArea
  .bannerArea
  .container
  .carousel-root
  .carousel
  .slider-wrapper
  .slider
  .slide {
  flex-direction: column;
  flex-flow: column;
  min-width: 100%;
  margin: 0;
  position: relative;
  text-align: center;
}

.homeContentArea
  .bannerArea
  .container
  .carousel-root
  .carousel
  .slider-wrapper
  .slider
  .slide
  img {
  display: inline-block;
  pointer-events: none;
  object-fit: fill;
  height: 350px;
  width: 100%;
  vertical-align: top;
  border: 0;
}
@media (min-width: 768px) {
  .homeContentArea
    .bannerArea
    .container
    .carousel-root
    .carousel
    .slider-wrapper
    .slider
    .slide
    img {
    height: 350px;
  }
}

/* Home Preorder Section */

.preorderSection {
  padding-bottom: 50px;
}
.preorderSection .container {
  max-width: 1240px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
}
.preorderSection .container .common__product__title__area {
  margin-bottom: 40px;
}
.preorderSection
  .container
  .common__product__title__area
  .common__product__title__wrapper {
  background: hsla(0, 0%, 50.2%, 0.09019607843137255);
  padding: 15px 30px;
  position: relative;
}
.preorderSection
  .container
  .common__product__title__area
  .common__product__title__wrapper
  .common__product__left__border {
  position: absolute;
  left: 0;
  top: 50%;
  height: 70%;
  width: 10px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 5px;
  background: rgb(68, 189, 50);
}
.preorderSection
  .container
  .common__product__title__area
  .common__product__title__wrapper
  .common__product__title {
  font-size: 25px;
  font-weight: 600;
  line-height: 40px;
  color: #313131;
  margin: 0 0 5px 5px;
}
.preorderSection
  .container
  .common__product__title__area
  .common__product__title__wrapper
  .common__product__title__subTitle {
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 30px;
  color: #313131;
  overflow: hidden;
  margin-left: 5px;
}
.preorderSection .container .productListArea {
  display: grid;
  /* grid-template-columns: repeat(auto-fill, minmax(122px, 1fr));
  grid-gap: 10px; */
}
@media (min-width: 440px) {
  .productListArea {
    grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
    grid-gap: 5px;
  }
}
.preorderSection .container .productListArea .offerBannerItem {
  position: relative;
  min-height: 231px;
  width: 254px;
  background: #fff;
  border-radius: 3px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}
.preorderSection
  .container
  .productListArea
  .offerBannerItem
  .offerBannerItemImg {
  height: 200px;
  position: relative;
  overflow: hidden;
}
.preorderSection
  .container
  .productListArea
  .offerBannerItem
  .offerBannerItemImg:hover {
  transform: scale(1.4);
  transition: 0.5s ease-in-out;
}
.preorderSection
  .container
  .productListArea
  .offerBannerItem
  .offerBannerItemImg
  img {
  width: 100%;
  height: 164px;
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  object-fit: cover;
}
.preorderSection
  .container
  .productListArea
  .offerBannerItem
  .offerBannerContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 10px;
  background: var(--white);
  position: absolute;
  width: 100%;
  bottom: 0;
  left: 0;
  height: 60px;
}
.preorderSection
  .container
  .productListArea
  .offerBannerItem
  .offerBannerContent
  p {
  font-size: 16px;
  font-weight: 500;
  padding: 3px 10px;
  color: var(--color7);
}

/* 
Home Fresh Section */

.container {
  max-width: 1240px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
  padding-bottom: 50px;
}
.container .common__product__title__area {
  margin-bottom: 40px;
}
.container .common__product__title__area .common__product__title__wrapper {
  background: hsla(0, 0%, 50.2%, 0.09019607843137255);
  padding: 15px 30px;
  position: relative;
}
.container
  .common__product__title__area
  .common__product__title__wrapper
  .common__product__left__border {
  position: absolute;
  left: 0;
  top: 50%;
  height: 70%;
  width: 10px;
  -webkit-transform: translateY(-50%);
  transform: translateY(-50%);
  border-radius: 5px;
  background: rgb(68, 189, 50);
}
.container
  .common__product__title__area
  .common__product__title__wrapper
  .common__product__title {
  font-size: 25px;
  font-weight: 600;
  line-height: 40px;
  color: #313131;
  margin: 0 0 5px 5px;
}
.container
  .common__product__title__area
  .common__product__title__wrapper
  .common__product__title__subTitle {
  font-size: 18px;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 30px;
  color: #313131;
  overflow: hidden;
  margin-left: 5px;
}

/* Home Fresh Product List Area */
.productListArea {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(180px, 1fr));
  grid-gap: 20px;
}

.productListArea .productCart {
  overflow: hidden;
  background: #fff;
  box-shadow: 0 0.125rem 0.25rem rgba(0, 0, 0, 0.075);
  height: 400px;
  /* width: 255px; */
}
.productListArea .productCart .product {
  cursor: pointer;
}
.productListArea .productCart .product .productContent {
  height: calc(100% - 109px);
  text-align: center;
  position: relative;
  border: 1px solid rgba(251, 231, 231, 0.38823529411764707);
  border-bottom: none;
  border-radius: 3px;
}
@media (min-width: 440px) {
  .productContent {
    min-width: 180px;
  }
}
.productListArea .productCart .product .productContent .productOrigin {
  position: absolute;
  right: 14px;
  font-size: 12px;
  top: 10px;
  padding: 2px 6px;
  border-radius: 3px;
  z-index: 99;
}
.productListArea .productCart .product .productContent .fresh {
  background: rgba(23, 177, 23, 0.7019607843137254);
}

.productListArea .productCart .product .productContent .productImageArea img {
  width: 120px;
  height: 120px;
  transition: 0.5s;
  z-index: 9;
}
.productListArea
  .productCart
  .product
  .productContent
  .productImageArea
  img:hover {
  transform: scale(1.4);
  transition: 0.5s;
}
.productListArea .productCart .product .productContent .productOrigin a {
  color: #ffffff;
}

.productListArea .productCart .product .productContent .productImageArea {
  align-items: center;
  justify-content: center;
}
@media (min-width: 440px) {
  .productListArea .productCart .product .productContent .productImageArea {
    min-width: 180px;
    height: 155px;
    display: flex;
  }
}
.productListArea .productCart .product .productContent .productName {
  font-weight: 500;
  color: var(--color4);
  padding: 0 15px;
}
@media (min-width: 440px) {
  .productListArea .productCart .product .productContent .productName {
    font-size: 16px;
    line-height: 25px;
  }
}
.productListArea .productCart .product .productContent .productSubtext {
  font-size: 12px;
  margin-top: 3px;
  color: var(--orange);
  font-weight: 500;
}
.productListArea .productCart .product .productContent .productPriceArea {
  margin-top: 5px;
}
.productListArea
  .productCart
  .product
  .productContent
  .productPriceArea
  .quantitySymbol {
  font-size: 13px;
  font-weight: 500;
  color: var(--color3);
}
.productListArea
  .productCart
  .product
  .productContent
  .productPriceArea
  .prodcutPrice {
  font-weight: 700;
  color: var(--color3);
}
@media (min-width: 440px) {
  .productListArea
    .productCart
    .product
    .productContent
    .productPriceArea
    .prodcutPrice {
    font-size: 18px;
  }
}
.productListArea .productCart .productDetailsBtnArea {
  text-align: center;
  margin: 0;
  cursor: pointer;
}
.productCardDetailsBtn {
  border: 1px solid var(--green);
  font-size: 11px;
  padding: 0 10px;
  font-weight: 600;
  color: var(--green);
}
button {
  /* border: none; */
  cursor: pointer;
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
button {
  background: transparent;
  outline: none;
}
.productListArea .productCart .productDetailsArea {
  display: flex;
  justify-content: space-between;
  cursor: pointer;
  padding: 5px;
}
.productListArea .productCart .productDetailsArea .productDeliveryStatus {
  display: flex;
  padding-left: 5px;
}
.productListArea .productCart .productDetailsArea .productDeliveryStatus img {
  height: 22px;
  margin-right: 5px;
}
.productListArea .productCart .productDetailsArea .productDeliveryStatus p {
  font-weight: 500;
  color: #9b9898;
  margin-left: 5px;
  line-height: 25px;
  font-size: 11px;
}
.productListArea .productCart .productDetailsArea .productDeliveryText {
  padding-right: 10px;
  font-size: 10px;
  line-height: 25px;
  font-weight: 500;
  color: #868585;
}
.productListArea .productCart .productDetailsArea .productDeliveryText img {
  height: 22px;
}
.productListArea .productCart .addToBgBtnGeneral {
  height: 41px;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 500;
  color: var(--white);
}
.productListArea .productCart .addToBgBtnGeneral {
  justify-content: center;
  font-size: 14px;
  transition: all 0.1s linear;
  cursor: pointer;
  background-color: var(--green);
  border-radius: 3px;
  border: none;
}

/* Show More Option */

.show__more__text__wrapper {
  margin-top: 15px;
  display: flex;
  justify-content: flex-end;
}
.show__more__text__wrapper a {
  color: #9c9c9c;
  font-size: 15px;
  font-weight: 600;
  display: flex;
  align-items: center;
  background: #fff;
  padding: 5px 20px;
  border-radius: 3px;
  border: 1px solid #e4e4e4;
  box-shadow: 0 1px 0 rgb(0 0 0 / 12%), 0 0 0 rgb(0 0 0 / 24%);
}

/* 
Regular Product List */

.regular {
  background-color: var(--regular);
}

/* 
Category Section */

.categorySection {
  padding-bottom: 60px;
}
.categorySection .sectionHeadingArea {
  max-width: 1240px;
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.361);
  margin: auto auto 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.categorySection .sectionHeadingArea .sectionHeading {
  /* font-size: 25px; */
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  padding-right: 10px;
  position: relative;
  color: #313131;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .categorySection .sectionHeadingArea .sectionHeading {
    font-size: 30px;
  }
}
.categorySection .sectionHeadingArea .sectionHeading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 100%;
  background-color: var(--green);
}
@media (min-width: 767px) {
  .categorySection .homePageCategory {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(163px, 1fr));
    grid-gap: 15px;
  }
}
.categorySection .homePageCategory .categoryItem {
  border-radius: 3px;
  overflow: hidden;
  text-align: center;
  display: flex;
  justify-content: space-between;
  align-items: center;
  background: #fff;
  flex-direction: column;
  height: 160px;
  padding: 10px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
}
@media (min-width: 767px) {
  .categorySection .homePageCategory .categoryItem {
    cursor: pointer;
  }
}
.categorySection .homePageCategory .categoryItem .categoryImageArea img {
  width: 90px;
  height: 90px;
  -webkit-object-fit: cover;
  object-fit: cover;
  transition: all 0.55s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.categorySection .homePageCategory .categoryItem .categoryImageArea img:hover {
  transform: scale(1.4);
  transition: 0.5s;
}
.categorySection .homePageCategory .categoryItem .categoryName {
  color: var(--color7);
  font-size: 14px;
  font-weight: 400;
  text-align: center;
  display: block;
}

/* Services Section */
.serviceSection {
  padding-bottom: 60px;
}
.serviceSection .sectionHeadingArea {
  max-width: 1240px;
  width: 100%;
  border-bottom: 1px solid rgba(128, 128, 128, 0.361);
  margin: auto auto 40px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.serviceSection .sectionHeadingArea .sectionHeading {
  /* font-size: 25px; */
  text-transform: capitalize;
  font-weight: 600;
  display: inline-block;
  padding-right: 10px;
  position: relative;
  color: #313131;
  padding-bottom: 10px;
}
@media (min-width: 768px) {
  .serviceSection .sectionHeadingArea .sectionHeading {
    font-size: 30px;
  }
}
.serviceSection .sectionHeadingArea .sectionHeading::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: -2px;
  height: 3px;
  width: 100%;
  background-color: var(--green);
}
.serviceSection .serviceArea {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  grid-gap: 15px;
}
.serviceSection .serviceArea .serviceItem {
  text-align: center;
  padding: 40px 15px 15px;
  box-shadow: 0 1px 3px rgb(0 0 0 / 12%), 0 1px 2px rgb(0 0 0 / 24%);
  background: #fff;
  border-radius: 4px;
}
.serviceSection .serviceArea .serviceItem .serviceItemIcon {
  margin-bottom: 13px;
}
@media (min-width: 768px) {
  .serviceItemIcon img {
    width: 60px;
  }
}
.serviceSection .serviceArea .serviceItem .serviceContentTitle {
  font-size: 17px;
  font-weight: 500;
  color: #313131;
  margin-bottom: 5px;
  text-transform: capitalize;
}
.serviceSection .serviceArea .serviceItem .serviceSubContentTitle {
  font-size: 14px;
  font-weight: 400;
  color: var(--color7);
  line-height: 24px;
}

/* Footer Section */

/* Contact Section */
.footer-wrapper {
  padding-top: 70px;
  width: 100%;
  /* margin-left: 35px; */
}
@media (min-width: 768px) {
  .footer-wrapper {
    background: rgba(222, 222, 222, 0.22);
    padding-bottom: 0;
  }
}
.footer-wrapper .container {
  max-width: 1240px;
  width: 100%;
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
  margin-top: -30px;
}
.footer-wrapper .container .footer-content {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(219px, 1fr));
  justify-content: center;
  grid-gap: 30px;
  width: 100%;
  /* margin-left: 35px; */
}
.footer-wrapper .container .footer-content .footer-column,
.logo__area {
  text-align: center;
}
.footer-wrapper .container .footer-content .logo__area img {
  width: 110px;
}
.footer-wrapper .container .footer-content .footer-column .social__media {
  display: flex;
  justify-content: space-evenly;
  margin-top: 25px;
}
.footer-wrapper .container .footer-content .footer-column .social__media a {
  font-size: 18px;
  color: var(--green);
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.footer-wrapper .container .footer-content .footer-column .shodaimama__app {
  position: relative;
  width: 200px;
  margin: 0 auto;
  overflow: hidden;
  z-index: -1;
}
.footer-wrapper .container .footer-content .footer-column .shodaimama__app p {
  display: block;
  width: 200px;
  background: var(--green);
  margin: 20px auto 0;
  font-size: 15px;
  color: #fff;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  border-radius: 3px;
  height: 36px;
  line-height: 36px;
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.footer-wrapper
  .container
  .footer-content
  .footer-column
  .shodaimama__app
  .ball.motion-blur {
  animation: motion-blur 5s ease-in-out infinite;
  top: 20px;
}
.footer-wrapper
  .container
  .footer-content
  .footer-column
  .shodaimama__app
  .ball {
  height: 36px;
  width: 200px;
  background-color: rgba(0, 106, 78, 0.34901960784313724);
  position: absolute;
}
.footer-wrapper
  .container
  .footer-content
  .footer-column
  .shodaimama__CopyRight
  p {
  margin: 15px 0 0 15px;
}
.footer-wrapper
  .container
  .footer-content
  .footer-column
  .shodaimama__CopyRight
  p
  i {
  font-style: italic;
  /* font-size: 17px; */
}

.footer-column {
  text-align: center;
}
/* .footer-column .usefull__link {
  margin-left: -24px;
} */
.footer-column .footer-heading {
  font-size: 16px;
  font-weight: 700;
  text-transform: capitalize;
  text-align: left;
  color: #313131;
}
.footer-column .footer__nav {
  text-align: left;
  margin-top: 15px;
}
.footer-column .footer__nav .footer__nav__item:not(:last-child) {
  margin-bottom: 8px;
}
.footer-column .footer__nav .footer__nav__item a {
  display: inline-block;
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.footer-column .footer__nav .footer__nav__item a {
  color: var(--color7);
  font-size: 14px;
  font-weight: 400;
}

.footer-column .footer__nav .footer__nav__item .fas {
  font-size: 15px;
  color: var(--green);
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
}
.footer-column .footer__nav .footer__nav__link {
  font-size: 14px;
  font-weight: 400;
  display: inline-block;
  /* margin-left: 1px; */
  color: var(--color7);
}

.footer-column .footer__nav .footer__nav__item__phone {
  border: 1px solid #d3d3d3;
  transition: all 0.45s cubic-bezier(0.23, 1, 0.32, 1) 0ms;
  color: var(--green);
  display: flex;
  width: 200px;
  padding: 5px 10px;
}
.footer-column .footer__nav .footer__nav__item__phone a {
  color: var(--color7);
  font-size: 14px;
  font-weight: 400;
}

/* Footer Payment Section */

.footerPaymentSection {
  border-top: 1px solid #d3d3d3;
  margin: 20px 0 0 30px;
  padding: 10px 0;
}
.PaymentMethodImage {
  width: 100%;
}
.PaymentMethodImage img {
  width: 100%;
}
.PaymentMethodImageForMobile {
  display: none;
}
.PaymentMethodImageForMobile img {
  width: 100%;
}
@media (max-width: 767px) {
  .PaymentMethodImageForMobile {
    display: block;
  }
}
